<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="UI库演示"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AwUidemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AwBottomTabBarDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".TitleBarDemoActivity"
            android:exported="false"/>
        <activity
            android:name=".BadgeDemoActivity"
            android:exported="false"/>
        <activity
            android:name=".BannerDemoActivity"
            android:exported="false"/>
        <activity
            android:name=".CircleProgressDemoActivity"
            android:exported="false"/>
        <activity
            android:name=".LoadingDemoActivity"
            android:exported="false"/>
        <activity
            android:name=".ShowcaseActivity"
            android:exported="false" />
        <activity
            android:name=".StateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SwipeRefreshListDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SegmentedControlDemoActivity"
            android:exported="false" />
        <activity
            android:name=".CodeInputDemoActivity"
            android:exported="false" />
        <activity
            android:name=".CountDownDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FlowTagDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MarqueeDemoActivity"
            android:exported="false" />
        <activity
            android:name=".RoundImageDemoActivity"
            android:exported="false" />
        <activity
            android:name=".RoundLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SkeletonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SwitchDemoActivity"
            android:exported="false" />
    </application>
</manifest>